.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-color: rgb(12, 15, 22);
    color: darkred;
}

main {
    font-size: 3vh;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 6vh;
    flex: 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 80px 0;
}

footer{
    font-size: 2vh;
    flex: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content:center;
    padding: 0 0 10px 0;
}